<.subhead>
  Threat model for: <%= @workspace.name %>
  <:actions>
    <a href={"/workspaces/#{@workspace.id}/threat_model/pdf"} target="_blank">
      <.button is_primary>
        Download PDF
      </.button>
    </a>
  </:actions>
</.subhead>
<ValentineWeb.WorkspaceLive.ThreatModel.Components.ReportComponent.render workspace={@workspace} />
