<.subhead>
  {gettext("Threat model")} {gettext("for")}: {@workspace.name}
  <:actions>
    <a href={"/workspaces/#{@workspace.id}/threat_model/pdf"} target="_blank">
      <.button is_primary>
        {gettext("Download PDF")}
      </.button>
    </a>
  </:actions>
</.subhead>
<ValentineWeb.WorkspaceLive.ThreatModel.Components.ReportComponent.render workspace={@workspace} />
