<.subhead>
  {hd(@reference_pack).collection_type |> Phoenix.Naming.humanize()} pack: {hd(@reference_pack).collection_name}
  <:actions>
    <.button phx-click={JS.patch(~p"/workspaces/#{@workspace_id}/reference_packs")}>
      Back to all reference packs
    </.button>
  </:actions>
</.subhead>
<.box id="reference_pack" row_id={fn r -> "reference-pack-item-#{r.id}" end}>
  <:header>Your reference packs</:header>
</.box>
