<.subhead>
  Security Requirements Traceability Matrix for: {@workspace.name}
  <:actions>
    <a href={"/workspaces/#{@workspace.id}/srtm"} target="_blank">
      <.button is_primary>
        Export to Excel
      </.button>
    </a>
  </:actions>
</.subhead>
