<.subhead>
  Workspace <%= @workspace.id %>
  <:actions>
    <.link patch={~p"/workspaces/#{@workspace}/edit"} phx-click={JS.push_focus()}>
      <.button>Edit workspace</.button>
    </.link>
  </:actions>
</.subhead>

<.list>
  <:item title="Name"><%= @workspace.name %></:item>
</.list>

<.back navigate={~p"/workspaces"}>Back to workspaces</.back>
