/* This file is for your main application CSS */

#cytoscape-container {
    position: relative;
    width: 100%;
    height: 500px;
    min-height: 500px;
    overflow: hidden;
}

#cy {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
}